html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, select,
table, caption, tbody, tfoot, thead, option, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
body { font: 8pt sans-serif; }
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}


a:link {color:#558;text-decoration:none;}
a:visited {color:#558;text-decoration:none;}
a:hover {color:#558;text-decoration:underline;}


body {background:#999;}

div.testata {
	margin: 2px;
	position : absolute;
	left : 4px;
	float: clear;
	height : 43px;
	width:897px;
	border: 1px solid #ccc;
	background-color: #dde;
	}
div.titolo {margin:10px;
	font: 16pt sans-serif;
	float:left;
	color:#555;
	}
div.reset {margin:15px;border : 1px solid #22ddee ; background : #66ddee;float :right;}

div.dimensione1 {
	position: absolute;
	top :50px;
	left :4px;
	border: 1px solid #cccccc;
	margin: 2px;
	background-color: #f0f0f0 ;
	width:295px;
	height:180px;
	overflow: auto;
}
div.dimensione2 {
	position: absolute;
	top :50px;
	left : 300px;
	border: 1px solid #cccccc;
	margin: 2px;
	background-color: #f0f0f0 ;
	width:601px;
	height:258px;
	overflow: auto;
}
div.dimensione3 {
	position: absolute;
	top : 309px;
	left : 300px;
	border: 1px solid #cccccc;
	margin: 2px;
	background-color: #f0f0f0 ;
	width:601px;
	height:290px;
	overflow:auto;
}
div.dimensione4 {
	position: absolute;
	top : 231px;
	left : 4px;
	border: 1px solid #ccc;
	margin: 2px;
	background-color: #f0f0f0 ;
	width:295px;
	height:230px;
	overflow: auto;
}
div.dimensione5 {
	position: absolute;
	top : 462px;
	left : 4px;
	border: 1px solid #cccccc;
	margin: 2px;
	background-color: #f0f0f0 ;
	width:295px;
	height:134px;
	overflow: auto;
}

dt {color: green;}
dl {color:#555;}

input.continua {
	float:right;
	font: 8pt sans-serif;
	color:#888
	}

input#valore {font: 8pt sans-serif;
	}

div.response {	
	color: #755;
	background:#f0f0f0;
	border-bottom: 1px solid #e5e5e5;
	overflow:auto;
	}
dl dd {
	text-indent:5px; 
	}
dd dt {
	text-indent:5px;			
	}
div.passobox {
	margin:3px;
	overflow:auto;
	}

li.scelta {height:14px;overflow:hidden;}
li.responso {height:14px;overflow:hidden;}

dt {	color: #575;
	border-bottom: 1px solid #e5e5e5;
	background:#f0f0f0;
	}

div.utente {margin:5px;overflow:auto;float:clear;}
div.pedata  {border : 1px solid #ccc ;margin:2px;position:absolute;top:598px;left : 4px; width:897px
	;background-color: #dde;color:#666;}
div.pedata ul {margin: 5px;float:right;font: 8pt sans-serif;height:27px;}

