html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, select,
table, caption, tbody, tfoot, thead, option, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
body { font: 12pt sans-serif; }
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}


a:link.passobox {color:#0000ff;text-decoration:none;}
a:visited.passobox {color:#0000ff;text-decoration:none;}
a:hover.passobox {background-color: #f3d3f3;
	text-decoration:underline;}
a:link.menu {color:#6666ff;text-decoration:none;}
a:visited.menu {color:#6666ff;text-decoration:none;}
a:hover.menu {background-color: #f3d3f3;
	text-decoration:underline;}


div.testata {
	margin: 10px;
	float: clear;
	height : 100px;
	background-color: #f3f3f3;
	}
div.titolo {
	font: 30pt sans-serif;
	float:left;
	}
div.reset {float:right;}
div.interazione {
	/*border: 1px solid green;*/
	margin: 3px;
	background-color: #f3d3f3 ;
	float:left;
	width:400px;
}
dt {color: green;}
.continua {
	float:right;
	}

div.response {	
	color: Red;
	margin:3px;	
	overflow:auto;
}
dl dd dt {
	text-indent:1em;
	}

div.passobox {
	height:20em;
	margin:3px;
	overflow:auto;
	list-style-type: circle;
	}

div.menu {height:1.5em;background-color: #d3d3d3;margin:1px;}
div.menu ul {float:right;}
li.menu {display:inline;}


