
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, select,
table, caption, tbody, tfoot, thead, option, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
body { font: 8pt sans-serif; }

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}



body {background:#EEE;padding:3px;}

h3
{
font-size:2em;
background : #EEF;
}

table#crediti, table#casse, table#impegni
{
padding : 3px;
margin : 5px;
border :1px solid black;
border-collapse:collapse;
}

td#accettate table, td#richieste table
{
margin : 0px;
border-collapse:collapse;
width:100%;
}


table#crediti, table#crediti caption
{
background :#fcc;
}
table#casse, table#casse caption
{
background :#cfc;
}
table#impegni, table#impegni caption
{
background :#ccf;
}


caption
{
padding:3px;
border :1px solid black;
font-size :1.5em;
}
td, th 
{
border: 1px solid black;
padding:3px;
}
tr
{
padding:1px;
}
td#accettate , td#richieste 
{
padding : 0px;
}
td#accettate td , td#richieste td
{
border :0px;
}

th
{
font-weight: bold;
}
table#impegni tr.even  
{
background-color:#bbe;
}
table#casse tr.even  
{
background-color:#beb;
}
table#crediti tr.even  
{
background-color:#ebb;
}

td#accettate table tr.odd, td#richieste table tr.odd
{
background-color:#ccf;
}


