html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, select,
table, caption, tbody, tfoot, thead, option, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
body { font: 8pt sans-serif; }
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}


a:link {color:#558;text-decoration:none;}
a:visited {color:#558;text-decoration:none;}
a:hover {color:#558;text-decoration:underline;}


body {background:#99b;}
input.paypal {	
	position : absolute;
	left : 670px;
	top : 0px;
	font: 8pt sans-serif;
	color:#558	
	}

div.abort {
	border-radius: 6px;
	-moz-border-radius: 6px;
	margin: 2px;
	position : absolute;
	left : 786px;
	top : 29px;
	float: clear;
	height : 30px;
	width:146px;
	background-color: #aee;
	text-align:center;

	}

div.titolo {	
	border-radius: 6px;
	-moz-border-radius: 6px;
	margin: 2px;
	position : absolute;
	left : 4px;
	top:14px;
	width:633px;
	height :35px;
	background-color: #dde;
	float:left;
	color:#555;
	}
div.project {
	margin:4px;
	margin-left:20px;
	font: 18pt sans-serif;
	float:left;
	}
div.synopsis {
	margin:4px;
	margin-top:12px;
	margin-left:90px;
	font: 12pt sans-serif;
	font-style:italic;
	float:left;
	}
div.dimensione6 {
	border-radius: 6px;
	-moz-border-radius: 6px;
	position: absolute;
	top :60px;
	left :4px;
	margin: 2px;
	background-color: #f0f0f0 ;
	width:130px;
	height:258px;
	overflow: auto;
}
div.dimensione7 {
	border-radius: 6px;
	-moz-border-radius: 6px;
	position: absolute;
	top :319px;
	left :4px;
	margin: 2px;
	background-color: #f0f0f0 ;
	width:130px;
	height:287px;
	overflow: auto;
}

div.dimensione2 {
	border-radius: 6px;
	-moz-border-radius: 6px;
	position: absolute;
	top :60px;
	left : 135px;
	margin: 2px;
	background-color: #f0f0f0 ;
	width:502px;
	height:258px;
	overflow: auto;
}
div.dimensione3 {
	border-radius: 6px;
	-moz-border-radius: 6px;
	position: absolute;
	top : 319px;
	left : 135px;
	margin: 2px;
	background-color: #f0f0f0 ;
	width:502px;
	height:287px;
	overflow:auto;
}
div.dimensione1 {
	border-radius: 6px;
	-moz-border-radius: 6px;
	position: absolute;
	top :60px;
	left :638px;
	margin: 2px;
	background-color: #f0e0e0 ;
	width:294px;
	height:200px;
	overflow: auto;
}

div.dimensione4 {
	border-radius: 6px;
	-moz-border-radius: 6px;
	position: absolute;
	top : 261px;
	left : 638px;
	margin: 2px;
	background-color: #f0f0f0 ;
	width:294px;
	height:80px;
	overflow: auto;
}
div.dimensione5 {
	border-radius: 6px;
	-moz-border-radius: 6px;
	position: absolute;
	top : 342px;
	left : 638px;
	margin: 2px;
	background-color: #f0f0f0 ;
	width:294px;
	height:264px;
	overflow: auto;
}

dt {color: green;}
dl {color:#555;}

input.continua {
	float:right;
	font: 8pt sans-serif;
	color:#888
	}

input#valore {font: 8pt sans-serif;
	}

div.response {	
	color: #755;font-weight: bold;
	border-bottom: 1px solid #e5e5e5;
	overflow:auto;
	}
dl dt {font-weight: bold;}
dl dd {
	font-weight: normal;
	text-indent:10px;			
	}
dl dd dl dt {
	font-weight: normal;
	text-indent:10px;			
	}
dl dd dl dd {
	text-indent:20px;			
	}
dl dd dl dd dl dt {
	font-weight: normal;
	text-indent:30px;			
	}
dl dd dl dd dl dd {
	text-indent:40px;			
	}

div.passobox {
	margin:3px;
	overflow:auto;
	}

li.scelta {height:14px;overflow:hidden;}
li.responso {height:14px;overflow:hidden;}

dt {	color: #575;
	border-bottom: 1px solid #e5e5e5;
	}

div.utente {margin:5px;overflow:auto;float:clear;}
div.pedata  {
	border-radius: 6px;
	-moz-border-radius: 6px;
	margin:2px;
	position:absolute;
	top:0px;
	left : 4px; 
	width: 928px;
	background-color: #dde;
	color:#666;
	}
div.pedata li {display:inline;margin-left: 80px;font: 8pt sans-serif;}

